<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>App Track: View Application</title>
    <style>
        #map {
            height: 400px;
            width: 40% auto;
            margin: 20px;
            padding: 20px;
        }

        img {
            height: 400px;
            width: auto;
            margin: 10px;
        }
        
        .jumbotron{
            background-color: 
            #20BF55;
            color: #FBFBFF;
        }
        a{
            color: #0B4F6C;
        }
    </style>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a href="/dashboard" class="btn btn-primary btn-sm">Home</a>
            <br>
            <h1 class="display-4">{{item.posted_by.first}} {{item.posted_by.last}}'s application for {{item.position}} at {{item.company}}</h1>
            
        </div>
    </div>
    <div class="container container-fluid">
        <div class="card border-success" style="width: 30rem;">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Position: {{item.position}}</li>
                    <li class="list-group-item">Company: {{item.company}}</li>
                    <li class="list-group-item">URL: {{item.url}}</li>
                    <li class="list-group-item">Posted by: <a
                            href="/user/{{item.posted_by.id}}">{{item.posted_by.first}}#{{item.posted_by.id}}</a>  <a class='btn btn-success' href = "mailto: {{item.posted_by.email}}">Send Email To User</a></li>
                    <li class="list-group-item">Location: {{item.location}}</li>
                    <li class="list-group-item">Status: {{item.status}}</li>
                    <li class="list-group-item">Posted on: {{item.created_at}}</li>
                </ul>
            </div>
            {% if logged_in_user.id == item.posted_by.id %}
                <div class="container">
                <h2>Update Application</h2>
                <form enctype="multipart/form-data" method="POST" action="/view/{{item.id}}/update">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" />
                    <a href="/view/{{item.id}}/delete" class="btn btn-sm btn-danger">Delete</a>
                </form>
            </div>
            {% endif %}
        </div>
        
                
                </div>
                
            </div>
            
        </div>


    <!-- Optional JavaScript -->
    <script>

        function initMap() {

            var seattle = { lat: 47.6205, lng: -122.3493 };

            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 15, center: seattle });

            // var marker = new google.maps.Marker({ position: seattle, map: map });
        }
    </script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3hTzNLbe80o_OoRtdj9omg9fS8Jgg6ck&callback=initMap">
        </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
